@using ResumeProject.Models
@model List<TblContact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Gelen Mesajlar</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            @*<td>@item.Subject</td>*@
            @*Subject değeri ID olarak gelir, bunu istemiyorsak aşağıdaki gibi yaparız*@
            <td>@item.TblCategory.CategoryName</td>
            @*Bu şekilde item den sonra sadece ilişkili tablolar gelir.*@
            <td>@item.Date</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-dark">Mesajı Aç</a></td>
        </tr>
    }
</table>