
@{
    //Layout = null;
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}



@* <!doctype html>
<html lang="en">

@Html.Action("PartialHeader")

<body>

    @Html.Action("PartialNavbar") *@
    
    
    
    <!-- banner section -->
    @Html.Action("PartialFeature")
    <!-- //banner section -->
    <!-- About Section-->
    @Html.Action("PartialAbout")
    <!-- //About Section-->
    <!-- Services Section -->
    @Html.Action("PartialService")
    <!-- //Services Section -->
    @Html.Action("PartialTechnology")

    <!-- Why Choose Us Section-->
    @Html.Action("PartialSkill")
    <!-- //Why Choose Us Section-->
    <!-- Stats Section-->
    @Html.Action("PartialCounter")
    <!-- //Stats Section-->
    <!-- portfolio -->
    @Html.Action("PartialProjects")
    <!-- //portfolio -->
    <!--/brands-->
    @Html.Action("PartialBrands")
    <!-- //brands -->
    
    
    
    @* @Html.Action("PartialFooter")
    
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>

    @Html.Action("PartialScripts")

</body>

</html> *@